/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

#companies {
    background: #f3eae2;
}

#welcome {
    background: #540b51;
}

#socialmed {
    display: flex;
    flex-direction: row;  
    justify-content: left; 
}

ul { 
    list-style: none;
  }

 li {
    padding-right: 50px;
 } 

 #legal {
    display: flex;
    flex-grow: 1;
 }

 #blueb {
    background-color: #4285fa;
    color: white;
    text-transform: uppercase;
 }

#yellowslack {
    color: #ECB12F;
}

/* a mettre a la fin */
@media (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column; 
      align-items: center; 
  }
  .main-article, .articles-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .desktop-element {
    display: none;
  }
  .mobile-element {
    display: block;
  }
    }